body {
    background-color: #51E5FF ;
    margin: 0;
    padding: 0;
}
header {
    background-color: #005BBC;
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #51E5FF;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #FFD600;
    color: #005BBC;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}